<% include('../layouts/header.ejs') %>

<form  method="post">
    <b>Status</b>
   <p style="color: blueviolet;"> <%= users.name %></p>
    
    Active:<input type="radio" name="statuss" value="1"
    <% if(users.statuss===1){ %> checked <% } %> >
    <br>
    Inactive:<input type="radio" name="statuss" value="2"
    <% if(users.statuss===2){ %> checked <% } %>>
    <br>
    Pending:<input type="radio" name="statuss" value="0"
    <% if(users.statuss===0){ %> checked <% } %>>
    <br><br>
    <input type="hidden" name="id" value="<%= users._id%>">
    <input type="submit" value="Update Status">
</form>
<a href="/admin/">Go DashBoard</a>

<% include('../layouts/footer.ejs') %>