<% include('../layouts/header.ejs') %>

<h1>DashBoard</h1>
<table width="50%">
    <tr>
        <th>Query Name</th>
        <th>Query Description</th>
        <th>Query Status</th>
    </tr>
    <% if(users.length>0){
        for(let i=0;i<users.length;i++){
            if(users[i].queries.length>0){
                for(let j=0;j<users[i].queries.length;j++){
                    %><tr>
                        <td><%= users[i].queries[j].query_name %></td>
                        <td><%= users[i].queries[j].query_description %></td>
                        <td>
                            <% if(users[i].queries[j].query_status==0){
                                %> <p>Pending</p>
                            <% }
                            else if(users[i].queries[j].query_status==1){
                                %> <p style="color: green;">Active</p>
                            <% }
                            else {
                                %>
                                <p style="color: red;">Inactive</p>
                            <% } %>
                        </td>
                        <td><a href="/admin/edit-query?id=<%=users[i]._id %>&query_id=<%=users[i].queries[j]._id %>">Change Status</a></td>
                    </tr>
                    <% 
                }
            }
        }
    }
    else{ %>
        <p>No Users Found</p>
   <% }
    %>
</table>
<a href="/admin/home">Go To Home</a>

<% include('../layouts/footer.ejs') %>