<% include('../layouts/header.ejs') %>
<h1><%= user.name%></h1>
<form  method="post" enctype="multipart/form-data">

<input type="hidden" name="x" value="<%= user._id %>">
    Query:<input type="text" name="q" required >
<br><br>
Description:<textarea rows="5" cols="20" name="qdescription" required></textarea>
<br><br>
<input type="submit" value="Add Query">
</form>

<% include('../layouts/footer.ejs') %>