<% include('../layouts/header.ejs') %>

<h3>Login Form</h3>
<% 
if(typeof message !=='undefined'){
    %>
    <h4><%= message %></h4>
    <%
  }
%>
<form action="/login" method="post">
Email: <input type="text" name="email"required>
<br><br>
password: <input type="password" name="password"required>
<br><br>
<input type="submit" value="Login">
</form>

<h4><a href="/register">Go to Registration</a></h4>
<h4>
  <a href="/admin">Go to Admin Login</a></h4>

<% include('../layouts/footer.ejs') %>